<div class="card border-primary mb-3">
  <div class="card-header">Alumnos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Alumnos</h5>
    <form [formGroup]="formAlumno" (submit)="add()">
      <div>
      <label for="id">Id: </label>
      <input type="text" id="id" formControlName="id">
      </div>
      <label for="id">Nombre: </label>
      <input type="text" id="nombre" formControlName="nombre">
      <label for="id">Email: </label>
      <input type="text" id="email" formControlName="email"><br>
      <label for="id">Promedio: </label>
      <input type="text" id="promedio" formControlName="promedio">
      <button [disabled]="formAlumno.invalid"
      class="btn btn-success m-2">
      Agregar
    </button>
    </form>
    <div>
      Validator: {{ formAlumno.valid | json }}
    </div>
    <button class="btn btn-danger float-end" (click)="toggle()" >{{ txtToggle }}</button>

    <table class="table" *ngIf="mostrar">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Notas</th>
          <th>Estado</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos, let i = index" [ngClass]=" alumno.promedio < 13 ? 'text-danger ' : 'fst-italic' " >
          <td>
            <span class="badge bg-primary">
              {{ alumno.id }}
            </span>
          </td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.email }}</td>
          <td>{{ alumno.promedio }}</td>
          <td>{{ alumno.promedio >= 13 ? 'Aprobado' : 'Desaprobado'  }}</td>
          <td>
            <button class="btn btn-warning me-2" (click)="modify(alumno.id!)">Modify</button>
            <button class="btn btn-danger" (click)="remove(alumno.id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
